#cheetsheet {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    position: fixed;
    padding: 20px 30px 20px 30px;
    background: #000;
    box-shadow: 5px 5px 5px #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    opacity: 0.8;
}

.group-title {
    color: #fff;
    border-bottom: 1px #fff solid;
    font-weight: bold;
}

.cheetsheet-row {
    margin: 10px 0;
    height: 18px;
}

.cheetsheet-cell {
    float: left;
    width: 50%;
    position: relative;
}

.cheetsheet-shortcut {
    display: inline-block;
    text-align: right;
    width: 40%;
    color: #dd0;
    font-weight: bold;
}

.cheetsheet-message {
    display: inline-block;
    text-align: left;
    width: 50%;
    color: #fff;
    margin-left: 20px;
}